/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --main-title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --btn_qstn-color:#353430;
  --title-color: #353430;
  --main-text-color: #353430;
}

:root.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
    --main-title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --btn_qstn-color:#353430;
    --title-color: #353430;
    --main-text-color: #353430;
  }

  .rec {
    display: none;
  }

  :root.theme-dark .rec {
    display: flex;
    position: absolute;
    justify-content: start;
    align-items: center;
    line-height: 25px;
    color: var(--accent-color);
    font-size: var(--main-text-size);
    font-weight: var(--font-weight-normal);
    top: 10px;
    right: 0px;
    gap:10px;
    margin-inline-end: 9px;
  }

  @media (width >= 768px) {
  :root.theme-dark .rec {
    top: 20px;
  }
}