/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: url(images/cover-image-dark.png);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  height: 100vh;
  min-height: 668px;
}